#encoding: utf-8
<div style="margin:0;padding:0;background-color:#eceef0">
	<div class="container" align="center">
		<div class="navbar" align="center" style="margin-bottom:0">
			<div class="navbar-inner" align="center">
				<%# logo %>
				<a class="brand" href="/" style="text-align:center;">Betty's Home</a>
			</div>
		</div>
	</div>
</div>

<div class="container">

  <div class="row" style="font-family:'Nanum Gothic', sans-serif;margin-top:50px;margin-bottom:0px">
    <div class="span12">
      <h4> 수강 과목 목록 </h4>
    </div>
  </div>
  <br>

  <div class="row">
	<div class="span12">
		<table class="table table-striped">
       <tbody>
        	<tr>
            <th style="text-align:center;vertical-align:middle;">학기</th>
            <th style="text-align:center;vertical-align:middle;">과목</th>
            <th style="text-align:center;vertical-align:middle;">담당교수</th>
            <th style="text-align:center;vertical-align:middle;">참고자료</th>
        	</tr>
      	  
          <tr>
            <td style="text-align:center;vertical-align:middle;">2013 가을</td>
            <td style="text-align:center;vertical-align:middle;"><a href="http://archi.snu.ac.kr/courses/under/13_fall_computer_architecture/">컴퓨터구조</a></td>
            <td style="text-align:center;vertical-align:middle;">민상렬</td>
            <td style="text-align:center;vertical-align:middle;">
				<a href="http://en.tjcities.com/wp-content/uploads/Books/CSPP.pdf">Computer Systems <br>
				- A Programmer’s Perspective</a>
            <br>
            </td>    
          </tr>
          <tr>
            <td style="text-align:center;vertical-align:middle;">2013 가을</td>
            <td style="text-align:center;vertical-align:middle;"><a href="http://ropas.snu.ac.kr/~kwang/4190.210/13/">프로그래밍의 원리</a></td>
            <td style="text-align:center;vertical-align:middle;">이광근</td>
            <td style="text-align:center;vertical-align:middle;"><a href="http://ropas.snu.ac.kr/~kwang/4190.210/13/">2012년 수업자료</a>
            	<br>
            <a href="http://mitpress.mit.edu/sicp/full-text/book/book.html">Structures and Intepretation of Computer Programs</a>
            </td>    
          </tr>
          <tr>
            <td style="text-align:center;vertical-align:middle;">2013 가을</td>
            <td style="text-align:center;vertical-align:middle;"><a href="http://ailab.snu.ac.kr/courses/dm13.php">이산수학</a></td>
            <td style="text-align:center;vertical-align:middle;">유석인</td>
            <td style="text-align:center;vertical-align:middle;"></td>    
          </tr>
          <tr>
            <td style="text-align:center;vertical-align:middle;">2013 가을</td>
            <td style="text-align:center;vertical-align:middle;"><a href="http://tcs.snu.ac.kr">자료구조</a></td>
            <td style="text-align:center;vertical-align:middle;">Srinivasa Rao Satti</td>
            <td style="text-align:center;vertical-align:middle;"></td>    
          </tr>
          <tr>
            <td style="text-align:center;vertical-align:middle;">2013 가을</td>
            <td style="text-align:center;vertical-align:middle;">생활원예</td>
            <td style="text-align:center;vertical-align:middle;">김기선, 전창후</td>
            <td style="text-align:center;vertical-align:middle;"></td>    
          </tr>
          <tr>
            <td style="text-align:center;vertical-align:middle;">2013 가을</td>
            <td style="text-align:center;vertical-align:middle;">태권도</td>
            <td style="text-align:center;vertical-align:middle;">최치선</td>
            <td style="text-align:center;vertical-align:middle;"></td>    
          </tr>
          <tr>
            <td style="text-align:center;vertical-align:middle;">2013 가을</td>
            <td style="text-align:center;vertical-align:middle;">운동과 영양</td>
            <td style="text-align:center;vertical-align:middle;">김태</td>
            <td style="text-align:center;vertical-align:middle;"></td>    
          </tr>
          <tr>
            <td style="text-align:center;vertical-align:middle;">2013 가을</td>
            <td style="text-align:center;vertical-align:middle;">테니스초급</td>
            <td style="text-align:center;vertical-align:middle;">원경주</td>
            <td style="text-align:center;vertical-align:middle;"></td>    
          </tr>

        </tbody>
    </table>
  </div>
  </div>

</div> <%# wrapping container %>
